*{
    margin: 0;
    padding:0;
}
body{
    background-color: #081b29;
    /* background-image: linear-gradient(45deg,#357E9E, #EB7E5B); */
    /* color:rgb(201, 5, 5); */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;

}

.calculadora{
    position: absolute;
    background-color: transparent;
    border: 2px solid #0093E9;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 15px;
    color: #ffffff;
}
.btn{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: transparent;
    border: 2px solid #0093E9;
    color: #fff;
    border-radius: 15px;
}
.btn:hover{
  box-shadow: #0093E9  5px 3px 5px 1px inset ;
  /* box-shadow: rgba(15, 154, 219, 0.17) 0px -23px 25px 0px inset, rgba(40, 29, 143, 0.15) 0px -36px 30px 0px inset, rgba(63, 77, 202, 0.1) 0px -79px 40px 0px inset, rgba(109, 129, 219, 0.06) 0px 2px 1px, rgba(68, 82, 145, 0.09) 0px 4px 2px, rgba(52, 81, 134, 0.09) 0px 8px 4px, rgba(65, 126, 167, 0.09) 0px 16px 8px, rgba(61, 56, 56, 0.09) 0px 32px 16px; */
}
#result{
    width: 224px;
    background-color: #fff;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color:cadetblue;
    text-align: right;
    border-radius: 4px;
}

.myCard {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    position: absolute;
    top: 50%;
    left: 50px; /* Afastado da margem esquerda */
    transform: translateY(-50%); /* Ajusta o centro verticalmente */
}

  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .myCard:hover .innerCard {
    transform: rotateY(180deg);
  }
  
  .frontSide,
  .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 900;
  }
   
  .backSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  }
  
  .backSide {
    transform: rotateY(180deg);
  }
  
  .frontSide::before,
  .backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.3;
    }
  }